@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --background-main: #d7d7d7;
    --divider-color: #283841;
    --background-input : #2838412e;
    --hotel-color : #C08B7D ;
}
